services:
  app:
    build: .
    command: uvicorn main:app --reload --host ${HOST:-0.0.0.0} --port ${PORT:-8000}
    volumes:
      - ./:/usr/src/app
    ports:
      - "${PORT:-8000}:${PORT:-8000}"
    environment:
      - HOST=${HOST:-0.0.0.0}
      - PORT=${PORT:-8000}