version: '3.8'

services:
  app:
    build: .
    command: uvicorn main:app --reload --host ${HOST:-0.0.0.0} --port ${PORT:-8000}
    volumes:
      - ./:/usr/src/app
    ports:
      - "${PORT:-8000}:${PORT:-8000}"
    env_file:
      - .env
